.body{
    background-color: azure;
    /* margin: 100px; */
}
.banner{
    position: relative;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/024/669/489/small_2x/mountain-countryside-landscape-at-sunset-dramatic-sky-over-a-distant-valley-green-fields-and-trees-on-hill-beautiful-natural-landscapes-of-the-carpathians-generative-ai-variation-5-photo.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}
.nav-bar{
    position: relative;
    top:0;
    width: 100%;
    background: black(0,0,0,0.5);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav-bar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.nav-bar a:hover{
    text-decoration: underline;
}